.expert-container {
  .ant-card-body {
    padding: 20px 0;
  }
  .detail-btn {
    border-radius: 30px;
    margin-right: 10px;
    background: #00adb5;
    border:1px solid #00adb5;
    padding: 0 15px;
    height: 30px;
    color: #fafafa;
    font-family:"Oswald",sans-serif;
    font-size: 14px;
    transition: all 0.1s ease;
    &:hover{
      background: #fafafa;
      border:1px solid #00adb5;
      color: #00adb5;
    }
  }
  .follow-btn {
    border-radius: 30px;
    padding: 0 15px;
    height: 30px;
    font-family:"Oswald",sans-serif;
    font-size: 14px;
    transition: all 0.1s ease;
  }
  .description-text-right {
    color: #000;
    font-size: 16px;
  }
  .description-text-left {
    color: #009da0;
    font-size: 16px;
  }
  .ant-card-cover {
    padding: 20px 0;
  }
  .avatar-image {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    border: solid 1px #52c41a;
    padding: 5px;
    margin-left: calc(50% - 100px);
  }
  .header-text {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .sub-header-text {
    padding: 10px;
    font-size: 16px;
  }
  .card {
    .card-header {
    //background: rgba(33, 150, 243, 0.2);
      background-image: linear-gradient(45deg, #9B3cb7, #FF396f);
      //opacity: 0.5;
    }
    hr {
      border-top: 1px solid #009DA0;
    }
  }
  .card h1.card-title, .card h2.card-title, .card h3.card-title, .card h4.card-title, .card h5.card-title, .card h6.card-title {
    font-size: 18px;
    color: #009da0;
  }
  .text-gray {
    font-size: 12px;
  }
}