.expert-container {
  .content-expert-container {
    background: white;
    border-radius: 4px;
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06);
    padding: 20px 10px;
    .ant-card-body {
      padding: 20px 0;
    }
    .detail-btn {
      border-radius: 30px;
      margin-right: 10px;
      background-color: #90EE02;
      border: none;
      color: #000;
    }
    .follow-btn {
      border-radius: 30px;
    }
    .description-text-right {
      float: right;
      color: #000;
    }
    .description-text-left {
      color: #009da0;
    }
    .ant-card-cover {
      padding: 20px 0;
    }
    .avatar-image {
      width: 200px;
      height: 200px;
      border-radius: 300px;
      border: solid 1px #52c41a;
      padding: 5px;
      margin-left: calc(50% - 100px);
    }
  }
  .header-text {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .sub-header-text {
    padding: 10px;
    font-size: 16px;
  }
}