.information-container {
  background: white;
  border-radius: 4px;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06);
  padding: 20px;
  .change-password-container {
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    .ant-form-item-control {
      text-align: center;
      font-size: 16px;
    }
    .info-header {
      font-size: 20px;
      font-weight: 600;
    }
    .title-input-profile {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
}
@media (max-width: 767px) {
  .information-container {
    padding: 15px;
    .change-password-container {
      width: 100%;
      margin-left: 0;
      padding: 15px;
    }
  }
}