.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}
.user-info {
  float: right;
  list-style: none;
  font-size: 18px;
  line-height: 64px;
  .badge.badge-danger {
    margin-top: -24px;
    margin-left: -6px;
  }
  .dropdown-menu .dropdown-item, .dropdown-menu li > a {
    font-size: 14px;
  }
  .header-notification {
    text-align: center;
    width: 100%;
    font-weight: 600;
  }
  .date-notification {
    position: absolute;
    right: 20px;
  }
}
.user-info-text {
  font-size: 14px;
  color: rgb(37, 37, 37);
}