.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.navigation-container {
  height: calc(100vh - 128px);
  background-color: #CCBFB3;
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    background-color: #CCBFB3;
    color: #333;
    box-shadow: none;
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #BE7633;
    color: #333;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
    color: #333;
    font-size: 15px;
    font-family: sans-serif;
  }
}
.select-language {
  height: 64px;
  background-color: #CCBFB3;
  color: #333;
  padding: 24px;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  color: #eee;
  font-size: 15px;
  font-family: sans-serif;
  &:hover {
    background-color: #BE7633;
    color: #333;
  }
}
.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}